:root {
    --md-admonition-icon--key: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.75 8.5a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z"/><path d="M15.75 0a8.25 8.25 0 1 1-2.541 16.101l-1.636 1.636a1.744 1.744 0 0 1-1.237.513H9.25a.25.25 0 0 0-.25.25v1.448a.876.876 0 0 1-.256.619l-.214.213a.75.75 0 0 1-.545.22H5.25a.25.25 0 0 0-.25.25v1A1.75 1.75 0 0 1 3.25 24h-1.5A1.75 1.75 0 0 1 0 22.25v-2.836c0-.464.185-.908.513-1.236l7.386-7.388A8.249 8.249 0 0 1 15.75 0ZM9 8.25a6.733 6.733 0 0 0 .463 2.462.75.75 0 0 1-.168.804l-7.722 7.721a.25.25 0 0 0-.073.177v2.836c0 .138.112.25.25.25h1.5a.25.25 0 0 0 .25-.25v-1c0-.966.784-1.75 1.75-1.75H7.5v-1c0-.966.784-1.75 1.75-1.75h1.086a.25.25 0 0 0 .177-.073l1.971-1.972a.75.75 0 0 1 .804-.168A6.75 6.75 0 1 0 9 8.25Z"/></svg>')
  }
  .md-typeset .admonition.key,
  .md-typeset details.key {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .key > .admonition-title,
  .md-typeset .keyr > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .key > .admonition-title::before,
  .md-typeset .key > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--key);
            mask-image: var(--md-admonition-icon--key);
  }
:root {
    --md-admonition-icon--usecase: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 1.75v14.5a.75.75 0 0 1-.399.662c-.384.204-.783-.035-1.139-.248l-.003-.002c-.09-.054-.177-.107-.261-.15a15.53 15.53 0 0 0-2-.849c-1.738-.607-4.321-1.223-7.703-1.251a.833.833 0 0 1 .005.088c0 2.279.494 4.279.906 5.547.368 1.131-.438 2.453-1.732 2.453H7.661c-.696 0-1.36-.42-1.6-1.129C5.684 20.255 5 17.811 5 14.75v-.457A5.5 5.5 0 0 1 6.5 3.5h3.75c3.505 0 6.175-.61 7.955-1.21a15.88 15.88 0 0 0 2.002-.82 9.21 9.21 0 0 0 .49-.262c.048-.028.095-.055.142-.085A.751.751 0 0 1 22 1.75ZM10.5 12.912c3.564.029 6.313.678 8.193 1.335.737.258 1.34.517 1.807.74V2.993c-.467.216-1.073.467-1.815.718-1.878.634-4.624 1.26-8.185 1.288ZM6.5 5a4 4 0 0 0 0 8H9V5Zm0 9.75c0 2.847.638 5.123.982 6.141.018.051.074.109.179.109h2.013c.087 0 .179-.043.249-.147a.396.396 0 0 0 .057-.343C9.537 19.148 9 16.986 9 14.5H6.5Z"/></svg>')
  }
  .md-typeset .admonition.usecase,
  .md-typeset details.usecase {
    border-color: rgb(149, 155, 43);
  }
  .md-typeset .usecase > .admonition-title,
  .md-typeset .usecase > summary {
    background-color: rgba(149, 155, 43, 0.1);
  }
  .md-typeset .usecase > .admonition-title::before,
  .md-typeset .usecase > summary::before {
    background-color: rgb(148, 155, 43);
    -webkit-mask-image: var(--md-admonition-icon--usecase);
            mask-image: var(--md-admonition-icon--usecase);
  }

:root {
    .md-nav__item--section > .md-nav__link[for] {
        font-weight: 900;
        font-size: x-large;
    }
    .md-nav--lifted > .md-nav__list > .md-nav__item--active {
        font-weight: 900;
        font-size: x-large;
    }
    .md-nav[data-md-level="2"] > .md-nav__list > .md-nav__item {
        font-weight: 400;
        font-size: medium; 
    }

    .md-nav__item {
        font-weight: 100;
        font-size: small;       
    }

}